*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: aqua;
    display: flex;
    align-items: center;
}

#logo{
    width: 70px;
    margin-right: 100px;
    
}
#hero{
    color: white;
    border: 1px solid black;
    background:url(/Projects/images/hero-1.jpg);
    height: 1000px;
}
